<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Базовый шаблон для вывода -->
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Аппендер для консоли -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Основной уровень логирования -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Детальное логирование для наших тестов и Spring Docker Compose -->
    <logger name="net.otuskotlin.ingredientscan.tests" level="DEBUG"/>
    <logger name="org.springframework.boot.docker.compose" level="INFO"/>
</configuration>